Makefile
Makefile.in
ac-aux
aclocal.m4
autom4te.cache
config.*
configure
*/Makefile
*/Makefile.in
doc/*.html
doc/edoc-info
ebin/translib.app
ebin/*.beam
src/Emakefile
testsuite/etest
testsuite/test_lambda_expr
testsuite/test_multiparser
testsuite/test_recfun
